/* Themes */

.pink-theme {
  --color-primary-100: theme("colors.pink.100");
  --color-primary-200: theme("colors.pink.200");
  --color-primary-300: theme("colors.pink.300");
  --color-primary-400: theme("colors.pink.400");
  --color-primary-500: theme("colors.pink.500");
  --color-primary-600: theme("colors.pink.600");
  --color-primary-700: theme("colors.pink.700");
  --color-primary-800: theme("colors.pink.800");
  --color-primary-900: theme("colors.pink.900");
}

.blue-theme {
  --color-primary-100: theme("colors.blue.100");
  --color-primary-200: theme("colors.blue.200");
  --color-primary-300: theme("colors.blue.300");
  --color-primary-400: theme("colors.blue.400");
  --color-primary-500: theme("colors.blue.500");
  --color-primary-600: theme("colors.blue.600");
  --color-primary-700: theme("colors.blue.700");
  --color-primary-800: theme("colors.blue.800");
  --color-primary-900: theme("colors.blue.900");
}

.dark-blue-theme {
  --color-primary-100: theme("colors.blue.900");
  --color-primary-200: theme("colors.blue.800");
  --color-primary-300: theme("colors.blue.700");
  --color-primary-400: theme("colors.blue.600");
  --color-primary-500: theme("colors.blue.500");
  --color-primary-600: theme("colors.blue.400");
  --color-primary-700: theme("colors.blue.300");
  --color-primary-800: theme("colors.blue.200");
  --color-primary-900: theme("colors.blue.100");
  --color-white: theme("colors.blue.800");
  --color-black: theme("colors.blue.200");
}

.teal-theme {
  --color-primary-100: theme("colors.teal.100");
  --color-primary-200: theme("colors.teal.200");
  --color-primary-300: theme("colors.teal.300");
  --color-primary-400: theme("colors.teal.400");
  --color-primary-500: theme("colors.teal.500");
  --color-primary-600: theme("colors.teal.600");
  --color-primary-700: theme("colors.teal.700");
  --color-primary-800: theme("colors.teal.800");
  --color-primary-900: theme("colors.teal.900");
}

.purple-theme {
  --color-primary-100: theme("colors.purple.100");
  --color-primary-200: theme("colors.purple.200");
  --color-primary-300: theme("colors.purple.300");
  --color-primary-400: theme("colors.purple.400");
  --color-primary-500: theme("colors.purple.500");
  --color-primary-600: theme("colors.purple.600");
  --color-primary-700: theme("colors.purple.700");
  --color-primary-800: theme("colors.purple.800");
  --color-primary-900: theme("colors.purple.900");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.iconBg {
  font-size: 256px;
  bottom: -0.4em;
  right: -0.5em;
}

.rotate-360 {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg) scaleX(-1);
  }
  to {
    transform: rotate(359deg) scaleX(-1);
  }
}

.translate-almost-full {
  --transform-translate-x: calc(100% - 3em);
}
